<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Humback test {{ version }} - Get app</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>

    <div class="get-app-container">
        <fieldset>
            <legend>Get app</legend>

            <form action="/get-app-action" method="post">

                <input type="text" name="name" placeholder="App name"> <br>
                <input type="text" name="url" placeholder="Humbackfile URL">
                <br>

                <input type="submit" value="Get app">

                <div class="getapp-status-container">
                    {{ getapp_status }}
                </div>

            </form>
        </fieldset>
    </div>

</body>
</html>